# [作業目標]
- 利用範例的創建方式, 創建一組資料, 並練習如何取出最大值

# [作業重點]
- 練習創立 DataFrame (In[2])
- 如何取出口數最多的國家 (In[3], Out[3])

## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [12]:
import pandas as pd
import numpy as np

In [34]:

data = {'國家': ['a','b','c','d','e'],
        '人口':  list(np.random.randint(1000,high =10000,size=5))}
data = pd.DataFrame(data)
data

  國家    人口
0  a  6830
1  b  7561
2  c  8270
3  d  8459
4  e  5638

In [45]:
data.iloc[data["人口"].idxmax(),:]

國家       d
人口    8459
Name: 3, dtype: object